@media (max-width: 1590px) {
  .tags_parent {
    background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 48px;
    transform: rotate(26.5deg) translateX(9.1vw) translateY(3.1vw);
  }
  
  .tags_hashtag {
    background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 55px;
    transform: rotate(16.5deg) translateX(8.7vw) translateY(24.4vw);
  }
  
  .tags_slash {
    background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 40px;
    transform: rotate(-20.8deg) translateX(6vw) translateY(47.4vw);
  }
  
  .tags_slash2 {
    display: none;
  }
  
  .tags_div1 {
    background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 29px;
    transform: rotate(-14deg) translateX(37.8vw) translateY(18.2vw);
  }
  
  .tags_div2 {
    background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 37px;
    transform: rotate(21deg) translateX(56.3vw) translateY(8.4vw);
  }
}

@media (min-width: 1025px) and (max-width: 1400px)	{
	/*  Header  */

	.call {
		margin-top: 30px;
		margin-right: 20px;
	}

	/*  Person  */
	.who__name  {
		font-size: 54px;
		padding: 237px 0 0 19px;
	}

	.who__profession {
		padding: 20px 0 45px 19px;
	}

	.who__button {
		margin-left: 20px;
		margin-bottom: 229px;
	}

	.button {
		width: 320px;
    height: 68px;
    border: 1px solid #ff4e2e;
    background-color: #ff4e2e;
    color: white;
    font-family: 'Roboto';
    font-size: 18px;
    cursor: pointer;
	}

	.man	{
    top: 33px;
    left: 20px;
	}

	.background	{
		top: 64px;
    left: -20px;
	}

	/*  Tags  */
	.tags_parent {
    background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
    background-clip: border-box;
		-webkit-background-clip: text;
		color: transparent;
    font-size: 48px;
    transform: rotate(26.5deg) translateX(13.6vw) translateY(10vw);
	}

	.tags_hashtag {
    background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
    background-clip: border-box;
		-webkit-background-clip: text;
		color: transparent;
    font-size: 50px;
    transform: rotate(16.5deg) translateX(15vw) translateY(48.9vw);
	}

	.tags_slash {
    background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
    background-clip: border-box;
		-webkit-background-clip: text;
		color: transparent;
    font-size: 40px;
    transform: rotate(-22deg) translateX(12.2vw) translateY(60.8vw);
	}

	.tags_slash2 {
		display: block;
    background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
    background-clip: border-box;
		-webkit-background-clip: text;
		color: transparent;
    font-size: 46px;
    transform: rotate(14deg) translateX(45.4vw) translateY(9.8vw);
	}

	.tags_div1 {
    background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
    background-clip: border-box;
		-webkit-background-clip: text;
		color: transparent;
    font-size: 29px;
    transform: rotate(-15.2deg) translateX(43.9vw) translateY(20.6vw);
	}

	.tags_div2 {
		display: none;
	}

	/*  Services__header  */

	.services__title {
		padding-top: 87px;
		padding-bottom: 84px;
		top: -2px;
    right: 14px;
	}

	.services__column {
		flex: 0 0 50%;
	}

	.text	{
		margin: 16px 0 55px 0;
	}

	.tools {
		position: relative;
  	top: 3px;
  	right: -48px;
	}

	.responsive	{
		position: relative;
		top: 3px;
  	left: -56px;
	}

	.programming {
		position: relative;
		top: 28px;
  	left: 49px;
	}

	.coding {
		position: relative;
		top: 28px;
  	left: -56px;
	}

	.services__button {
		position: relative;
		margin-top: 66px;
		margin-bottom: 105px;
	}

	.examples__column img {
		width: 100%;
	}

	.examples__title	{
		padding: 89px 0 44px 0;
	}

	.examples__button	{
		width: 100%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 101px;
	}

	.examples__arrow	{
		display: none;
	}

	.swiper-pagination {
    display: block;
		margin-top: 70px;
	}

	.psych {
		font-size: 25px;
		font-weight: 500;
		top: -7px;
    right: 2px;
	}

	.store {
		font-size: 25px;
		font-weight: 500;
		top: -7px;
	}

	.fisher {
		font-size: 25px;
		font-weight: 500;
		top: -7px;
	}

	.ad {
		top: 36px;
    left: 20px;
	}

	.ad__title {
		font-size: 45px;
		font-weight: 700;
		line-height: 60px;
	}

	.banner_parent	{
		font-size: 29px;
		font-weight: 700;
		transform: rotate(26.9deg) translateX(14.7vw) translateY(-5.2vw);
	}

	.banner_slash	{
		font-size: 38px;
		font-weight: 700;
		transform: rotate(-18.9deg) translateX(71.9vw) translateY(48vw);
	}

	.banner_div	{
		font-size: 23px;
		font-weight: 700;
		transform: rotate(22deg) translateX(57.7vw) translateY(2.4vw);
	}

	.banner_parent2	{
		display: none;
	}

	.banner_hashtag	{
		display: none;
	}

	.menu__list_column	{
		margin: 106px 0 0 20px;
	}

	.address__link {
	margin-top: 91px;
	margin-left: -37px;
}

	.address__link:last-child {
		margin-top: -1px;
		margin-left: -39px;
	}
	
	.social__item	{
		margin-right: 26px;
	}

	.connection {
		display: block;
		padding-left: 61px;
	}

	.connection__button	{
		margin-top: 99px;
	}
}

@media (min-width: 990px) and (max-width: 1024px)	{
	/*  Header  */
	.menu_burger	{
		display: none;
	}

	.menu__list {
		padding: 0;
		text-decoration: none;
	}

	.menu__link {
		padding-right: 28px;
		text-decoration: none;
		color: black;
	}

	.menu__link:hover {
		color: #fc557c;
	}

	.btn__burger	{
    display: block;
    margin: 50px 0 0 20px;
	}

	.btn__burger.active {
		background-image: none;
		background: none;
		outline: none;
	}

	.btn__burger.active:before {
		top: 0;
		transform: rotate(45deg);
		transition: all 0.3s ease 0s;
	}

	.btn__burger.active:after {
		top: 0;
		transform: rotate(-45deg);
		transition: all 0.3s ease 0s;
	}

	.call {
		margin-top: 30px;
		margin-right: 20px;
	}

	/*  Person  */
	.who__name  {
		font-size: 54px;
		padding: 237px 0 0 19px;
	}

	.who__profession {
		padding: 20px 0 45px 19px;
	}

	.who__button {
		margin-left: 20px;
		margin-bottom: 229px;
	}

	.button {
		width: 320px;
    height: 68px;
    border: 1px solid #ff4e2e;
    background-color: #ff4e2e;
    color: white;
    font-family: 'Roboto';
    font-size: 18px;
    cursor: pointer;
	}

	.man	{
    top: 33px;
    left: -17px;
	}

	.background	{
		top: 169px;
    left: -50px;
	}

	/*  Tags  */
	.tags_parent {
    background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
    background-clip: border-box;
		-webkit-background-clip: text;
		color: transparent;
    font-size: 48px;
    transform: rotate(26.5deg) translateX(13.6vw) translateY(10vw);
	}

	.tags_hashtag {
    background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
    background-clip: border-box;
		-webkit-background-clip: text;
		color: transparent;
    font-size: 55px;
    transform: rotate(16.5deg) translateX(22.9vw) translateY(57.2vw);
	}

	.tags_slash {
    background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
    background-clip: border-box;
		-webkit-background-clip: text;
		color: transparent;
    font-size: 40px;
    transform: rotate(-22deg) translateX(11.2vw) translateY(65.8vw);
	}

	.tags_slash2 {
		display: block;
    background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
    background-clip: border-box;
		-webkit-background-clip: text;
		color: transparent;
    font-size: 46px;
    transform: rotate(14deg) translateX(45.4vw) translateY(11.8vw);
	}

	.tags_div1 {
    background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
    background-clip: border-box;
		-webkit-background-clip: text;
		color: transparent;
    font-size: 29px;
    transform: rotate(-15.2deg) translateX(79.9vw) translateY(36.6vw)
	}

	.tags_div2 {
		display: none;
	}

	/*  Services__header  */

	.services__title {
		padding-top: 87px;
		padding-bottom: 84px;
		top: -2px;
    right: 14px;
	}

	.services__column {
		flex: 0 0 50%;
	}

	.text	{
		margin: 12px 0 55px 0;
	}

	.tools {
		position: relative;
  	top: 3px;
  	right: -48px;
	}

	.responsive	{
		position: relative;
		top: 3px;
  	left: -56px;
	}

	.programming {
		position: relative;
		top: 28px;
  	left: 49px;
	}

	.coding {
		position: relative;
		top: 28px;
  	left: -56px;
	}

	.services__button {
		position: relative;
		margin-top: 66px;
		margin-bottom: 105px;
	}

	.examples__column img {
		width: 456px;
	}

	.examples__title	{
		padding: 89px 0 44px 0;
	}

	.examples__button	{
		width: 100%;
    text-align: center;
    margin-top: 96px;
    margin-bottom: 101px;
	}

	.examples__arrow	{
		display: none;
	}

	.swiper-pagination {
    display: block;
		margin-top: 65px;
	}

	.psych {
		font-size: 25px;
		font-weight: 500;
		top: -11px;
    right: 3px;
	}

	.store {
		font-size: 25px;
		font-weight: 500;
		top: -11px;
	}

	.fisher {
		font-size: 25px;
		font-weight: 500;
		top: -11px;
  }
  
	.ad {
		top: 36px;
    left: 20px;
	}

	.ad__title {
		font-size: 45px;
		font-weight: 700;
		line-height: 60px;
	}

	.banner_parent	{
		font-size: 29px;
		font-weight: 700;
		transform: rotate(26.9deg) translateX(14.7vw) translateY(-5.2vw);
	}

	.banner_slash	{
		font-size: 38px;
		font-weight: 700;
		transform: rotate(-18.9deg) translateX(71.9vw) translateY(54vw);
	}

	.banner_div	{
		font-size: 23px;
		font-weight: 700;
		transform: rotate(22deg) translateX(57.7vw) translateY(8.7vw);
	}

	.banner_parent2	{
		display: none;
	}

	.banner_hashtag	{
		display: none;
  }
  
  .menu__item_column {
    padding-bottom: 11px;
  }

	.menu__list_column	{
		margin: 106px 0 0 20px;
  }
  
  .menu__link_color {
    color: #8993ad;
    font-size: 18px;
  }

	.address__link {
	margin-top: 91px;
	margin-left: -37px;
}

	.address__link:last-child {
		margin-top: -1px;
		margin-left: -39px;
  }
  
  .mail {
    padding-top: 1px;
  }
	
	.social__item	{
		margin-right: 26px;
	}

	.connection {
		display: block;
		padding-left: 61px;
	}

	.connection__button	{
		margin-top: 101px;
	}
}

@media (min-width: 768px) and (max-width: 989px)	{
/*  Header  */
.menu_burger	{
  display: none;
}

.menu_burger {
  width: 100%;
  position: absolute;
  margin-top: 77px;
  background-color: #fbfbfb;
  z-index: 50;
  justify-content: center;
}

.menu__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  text-decoration: none;
}

.menu__item {
  padding-bottom: 35px;
}

.menu__link {
  padding-right: 28px;
  text-decoration: none;
  color: black;
}

.menu__link {
  padding-right: 28px;
  text-decoration: none;
  color: black;
}

.menu__link:hover {
  color: #fc557c;
}

.btn__burger	{
  display: block;
}

.btn__burger.active {
  background-image: none;
  background: none;
  outline: none;
}

.btn__burger.active:before {
  top: 0;
  transform: rotate(45deg);
  transition: all 0.3s ease 0s;
}

.btn__burger.active:after {
  top: 0;
  transform: rotate(-45deg);
  transition: all 0.3s ease 0s;
  }

  .who	{
		margin: 235px 0 0 19px;
		align-items: center;
	}

	.who__name	{
		font-size: 45px;
    padding: 0;
	}

	.who__profession	{
		font-size: 18px;
		padding: 15px 0;
	}

	.who__button	{
		margin: 25px 0 156px 0;
	}

	.button	{
		width: 230px;
		height: 50px;
	}

	.image	{
		margin-top: 45px;
	}

	.man 	{
		top: 55px;
    left: -19px;
	}

	.man img  {
		width: 400px;
	}

	.background	{
		top: -8px;
    left: -12px;
	}

	.background	img  {
		width: 555px;
  }
  
  .tags_parent {
    transform: rotate(26.5deg) translateX(16.1vw) translateY(12.1vw);
  }

	.tags_hashtag	{
    font-size: 48px;
		transform: rotate(16.5deg) translateX(55.9vw) translateY(46.1vw);
	}

	.tags_slash	{
		display: none;
	}

	.tags_slash2	{
		transform: rotate(14deg) translateX(45.4vw) translateY(7.8vw);
  }
  
  .tags_div2  {
    transform: rotate(21deg) translateX(48.3vw) translateY(6.4vw);
  }

	.tags_div1	{
		transform: rotate(-15.2deg) translateX(67.9vw) translateY(32.6vw)
	}

	.services__title {
		padding-top: 70px;
		padding-bottom: 80px;
		top: 0;
		right: 0;
	}

	.services__column	{
		flex: 0 0	100%;
  }

  .text	{
		margin: 16px 0 55px 0;
	}

	.tools {
		position: relative;
  	top: 0;
  	right: 0px;
	}

	.responsive	{
		position: relative;
		top: 0px;
  	left: 0px;
	}

	.programming {
		position: relative;
		top: 0px;
  	left: 0px;
	}

	.coding {
		position: relative;
		top: 0px;
  	left: 0px;
	}

  .services__button {
		position: relative;
		margin-top: 55px;
		margin-bottom: 100px;
	}

  .examples__column img {
		width: 360px;
	}
  
  .examples__arrow	{
		display: none;
  }
  
  .swiper-pagination {
    display: block;
  }

	.ad {
		left: 0;
	}

	.ad__title {
		font-size: 25px;
	}

	.ad__title br {
		display: none;
	}

	.ad__subtitle	{
		font-size: 15px;
	}

	.ad__subtitle br {
		display: none;
  }
  
  .banner_parent2 {
    display: none;
  }

	.banner_div	{
    font-size: 23px;
		transform: rotate(22deg) translateX(54.7vw) translateY(13.2vw);
	}

  .banner_hashtag {
    display: none;
  }

	.menu__list_column	{
		margin: 110px 0 0 20px;
  }

  .menu__item_column {
    padding-bottom: 10px;
}
  
  .menu__link_color {
    color: #8993ad;
    font-size: 16px;
  }

	.address__link {
    font-size: 18px;
	  margin-top: 90px;
	  margin-left: -37px;
}

	.address__link:last-child {
		margin-top: -1px;
		margin-left: -39px;
  }
  
  .social {
    padding: 0;
  }
	
	.social__item	{
		margin-right: 26px;
	}

	.connection {
		display: block;
		padding-left: 0;
	}

	.connection__button	{
		margin-top: 99px;
  }
  
  .connection__button {
    height: 45px;
    width: 240px;
    border: 1px solid #ff4e2e;
    background-color: white;
    color: #ff4e2e;
    font-size: 14px;
    padding: 13px 63px;
    cursor: pointer;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .menu_burger	{
    display: none;
  }

  .menu_burger {
		width: 100%;
    position: absolute;
    margin-top: 61px;
    background-color: #fbfbfb;
    z-index: 50;
    justify-content: center;
  }

  .menu__list {
		display: flex;
		flex-direction: column;
	}

	.menu__list {
		padding: 0;
		text-decoration: none;
  }
  
  .menu__item {
		padding-bottom: 35px;
	}

	.menu__link {
		padding-right: 28px;
		text-decoration: none;
		color: black;
	}

  .menu__list {
    padding: 0;
    text-decoration: none;
  }
  
  .menu__link {
    padding-right: 28px;
    text-decoration: none;
    color: black;
  }
  
  .menu__link:hover {
    color: #fc557c;
  }
  
  .btn__burger	{
    display: block;
    margin-top: 35px;
  }
  
  .btn__burger.active {
    background-image: none;
    background: none;
    outline: none;
  }
  
  .btn__burger.active:before {
    top: 0;
    transform: rotate(45deg);
    transition: all 0.3s ease 0s;
  }
  
  .btn__burger.active:after {
    top: 0;
    transform: rotate(-45deg);
    transition: all 0.3s ease 0s;
  }

  .contacts__telephone	{
		top: 12px;
		font-size: 21px;
		font-weight: 700;
    line-height: 54px;
    padding-right: 15px;
  }
  
  .contacts__button:hover	{
    border: 1px solid #ff2f96;
    background: url(../img/call-answer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    color: #fbfbfb;
  }
  
  .call {
		position: relative;
    top: 6px;
    right: 2px;
		font-size: 0;
  	width: 40px;
  	height: 40px;
  	border-radius: 50%;
   	padding: 0;
   	margin: 0;
   	background-image: url(../img/call-answer.png);
   	background-repeat: no-repeat;
   	background-position: center;
   	background-size: 14px;
  }

  .info {
    width: 100%;
  }
  
  .who	{
		width: 100%;
		display: flex;
		flex-direction: column;
		order: 2;
		align-items: center;
	}

	.who__name	{
		font-size: 40px;
    padding: 20px 0 0 0;
	}

	.who__profession	{
		font-size: 15px;
		padding: 15px 0;
	}

	.who__button	{
		margin: 0 0 30px 0;
	}

	.button	{
		width: 230px;
		height: 50px;
	}

	.image	{
    width: 100%;
		margin-top: 150px;
	}

	.man 	{
		position: relative;
		top: 2px;
    left: 110px;
	}

	.man img  {
		width: 360px;
	}

	.background	{
		top: -75px;
    left: 47px;
	}

	.background	img  {
    width: 700px;
    height: 500px;
  }
  
  .tags_parent  {
    font-size: 40px;
    transform: rotate(26.5deg) translateX(24.1vw) translateY(17.1vw);
  }

	.tags_hashtag	{
    transform: rotate(16.5deg) translateX(30.9vw) translateY(62.2vw);
	}

	.tags_slash	{
    display: block;
    transform: rotate(-20.8deg) translateX(38vw) translateY(37.4vw);
	}

	.tags_div1	{
		transform: rotate(-15.2deg) translateX(60.9vw) translateY(32.6vw);
  }
  
  .tags_div2  {
    display: none;
  }

	.services__title {
		padding-top: 70px;
		padding-bottom: 80px;
		top: 0;
		right: 0;
	}

	.services__column	{
		flex: 0 0	100%;
  }
  
  .text	{
		margin: 16px 0 55px 0;
	}

	.tools {
		position: relative;
  	top: 0;
  	right: 0px;
	}

	.responsive	{
		position: relative;
		top: 0px;
  	left: 0px;
	}

	.programming {
		position: relative;
		top: 0px;
  	left: 0px;
	}

	.coding {
		position: relative;
		top: 0px;
  	left: 0px;
	}

  .services__button {
		position: relative;
		margin-top: 55px;
		margin-bottom: 100px;
  }
  
  .examples__column img {
    width: 450px;
  }

  .examples__arrow  {
    display: none;
  }

  .swiper-pagination {
    display: block;
  }

	.ad {
		left: 0;
	}

	.ad__title {
    font-size: 25px;
    line-height: 40px;
	}

	.ad__title br {
		display: none;
	}

	.ad__subtitle	{
		font-size: 15px;
	}

	.ad__subtitle br {
		display: none;
  }

  .banner_parent {
    font-size: 40px;
    transform: rotate(26.5deg) translateX(19vw) translateY(-4.3vw);
  }
  
  .banner_parent2 {
    display: none;
  }

	.banner_div	{
    display: none;
	}

  .banner_hashtag {
    display: none;
  }

	.banner_slash	{
    font-size: 36px;
    transform: rotate(-18.9deg) translateX(72.9vw) translateY(30vw);
	}

	.navigation	{
		flex-wrap: wrap;
		padding: 0;
	}

	.footer__column	{
		width: 100%;
	}

	.menu__list_column	{
		margin: 40px 0 0 0;
  }
  
  .menu__item_column  {
    padding-bottom: 10px;
  }

	.menu__link_color  {
    color: #8993ad;
		font-size: 15px;
	}

	.address__link {
		font-size: 20px;
		padding: 0;
		margin: 40px 0 0 0;
	}

	.address__link:last-child	{
		margin: 0;
	}

	.connection	{
    display: block;
    padding-left: 0;
	}

	.connection__button	{
		height: 55px;
		width: 240px;
		font-size: 14px;
		margin: 40px 0 0 0;
	}
}

@media (min-width: 321px) and (max-width: 480px)	{
  .popup__form  {
    width: 290px;
  }

  .input  {
    width: 240px;
  }

  .menu_burger	{
		display: none;
  }
  
  .menu_burger {
		width: 100%;
    position: absolute;
    margin-top: 57px;
    background-color: #fbfbfb;
    z-index: 50;
    justify-content: center;
  }

  .menu__list {
		display: flex;
		flex-direction: column;
	}

	.menu__list {
		padding: 0;
		text-decoration: none;
  }
  
  .menu__item {
		padding-bottom: 20px;
	}

	.menu__link {
		padding-right: 28px;
		text-decoration: none;
		color: black;
	}

	.menu__link:hover {
		color: #fc557c;
	}

	.btn__burger {
    display: block;
    position: relative;
    margin-top: 38px;
    border: none;
    outline: none;
    width: 40px;
    height: 5px;
    background-image: linear-gradient(13deg, #ff8f5a 0%, #ff2f96 99%, #ff2f96 100%);
  }

  .btn__burger:before {
    content: '';
    width: 40px;
    height: 5px;
    background-image: linear-gradient(13deg, #ff8f5a 0%, #ff2f96 99%, #ff2f96 100%);
    position: absolute;
    top: -11px;
    left: 0;
  }

  .btn__burger:after {
    content: '';
    width: 40px;
    height: 5px;
    background-image: linear-gradient(13deg, #ff8f5a 0%, #ff2f96 99%, #ff2f96 100%);
    position: absolute;
    top: 11px;
    left: 0;
  }

	.btn__burger.active {
		background-image: none;
		background: none;
		outline: none;
	}

	.btn__burger.active:before {
		top: 0;
		transform: rotate(45deg);
		transition: all 0.3s ease 0s;
	}

	.btn__burger.active:after {
		top: 0;
		transform: rotate(-45deg);
		transition: all 0.3s ease 0s;
  }

  .contacts__telephone	{
		top: 12px;
		font-size: 18px;
		font-weight: 700;
    line-height: 54px;
    padding-right: 15px;
  }
  
  .contacts__button:hover	{
    border: 1px solid #ff2f96;
    background: url(../img/call-answer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 9px;
    color: #fbfbfb;
  }
  
  .call {
		position: relative;
    top: 6px;
    right: 2px;
		font-size: 0;
  	width: 26px;
  	height: 26px;
  	border-radius: 50%;
   	padding: 0;
   	margin: 0;
   	background-image: url(../img/call-answer.png);
   	background-repeat: no-repeat;
   	background-position: center;
   	background-size: 9px;
  }
  
  .who	{
		display: flex;
    flex-wrap: wrap;
    justify-content: center;
		order: 2;
	}

	.who__name {
		font-size: 30px;
		margin-top: 45px;
    text-align: center;
    padding: 0;
	}

	.who__profession {
		font-size: 16px;
		opacity: 0.93;
		line-height: 24px;
		text-align: center;
		margin-top: 7px;
		margin-bottom: 23px;
		padding: 0;
	}

	.who__button	{
		margin: 0 0 30px 0;
	}

	.button {
		font-size: 16px;
		width: 280px;
		height: 55px;
	}

	.image	{
    display: flex;
    justify-content: center;
    width: 100%;
		margin: 100px 0 0 0;
	}

	.man {
    position: relative;
    top: 47px;
    left: 0;
	}

	.man img {
		width: 290px;
	}

	.background {
    top: 17px;
    left: 10px;
	}

	.background	img {
    width: 450px;
    height: 370px;
  }

  .tags_parent {
    font-size: 34px;
    transform: rotate(26.5deg) translateX(27.1vw) translateY(17.1vw);
  }

  .tags_hashtag {
    font-size: 42px;
    transform: rotate(16.5deg) translateX(33.7vw) translateY(76.4vw);
  }

  .tags_div1 {
    display: none;
  }

  .tags_div2 {
    font-size: 25px;
    transform: rotate(21deg) translateX(75.3vw) translateY(1.4vw);
  }

  .tags_slash {
    font-size: 30px;
    transform: rotate(-20.8deg) translateX(37vw) translateY(35.4vw);
  }

  .title {
    font-size: 47px;
  }
  
  .services__column	{
		flex: 0 0	100%;
  }
  
  .text	{
		margin: 16px 0 55px 0;
	}

	.tools {
		position: relative;
  	top: 0;
  	right: 0px;
	}

	.responsive	{
		position: relative;
		top: 0px;
  	left: 0px;
	}

	.programming {
		position: relative;
		top: 0px;
  	left: 0px;
	}

	.coding {
		position: relative;
		top: 0px;
  	left: 0px;
	}

  .services__button {
		position: relative;
		margin-top: 55px;
		margin-bottom: 100px;
  }

  .examples__column img {
    width: 100%;
  }

  .examples__text {
    font-size: 18px;
  }

  .examples__arrow  {
    display: none;
  }

  .swiper-pagination {
    display: block;
  }

	.ad {
		left: 0;
	}

	.ad__title {
		font-size: 24px;
    color: white;
    line-height: 30px;
    margin: 38px 0 38px 0;
	}

	.ad__title br {
		display: none;
	}

	.ad__subtitle	{
		font-size: 13px;
	}

	.ad__subtitle br {
		display: none;
  }
  
  .banner_parent {
    font-size: 35px;
    transform: rotate(26.5deg) translateX(17.4vw) translateY(-2.3vw);
  }

  .banner_parent2 {
    display: none;
  }

  .banner_div {
    display: none;
  }

  .banner_hashtag {
    display: none;
  }

  .banner_slash {
    font-size: 32px;
    transform: rotate(-21deg) translateX(72.2vw) translateY(34.5vw);
  }

  .navigation	{
		flex-wrap: wrap;
		padding: 0;
	}

	.footer__column	{
		width: 100%;
	}

	.menu__list_column	{
		margin: 40px 0 0 0;
  }
  
  .menu__item_column  {
    padding-bottom: 10px;
  }

	.menu__link_color  {
    color: #8993ad;
		font-size: 15px;
	}

	.address__link {
		font-size: 20px;
		padding: 0;
		margin: 40px 0 0 0;
	}

	.address__link:last-child	{
		margin: 0;
	}

	.connection	{
    display: block;
    padding-left: 0;
	}

	.connection__button	{
		height: 55px;
		width: 240px;
		font-size: 14px;
		margin: 40px 0 0 0;
	}
}

@media (max-width: 320px)	{
	.popup__form	{
		width: 280px;
	}

	.input	{
		width: 235px;
	}

	.div1 {
		display: none;
  }
  
  .btn__burger	{
		display: block;
	}

	.btn__burger.active {
		background-image: none;
		background: none;
		outline: none;
	}

	.btn__burger.active:before {
		top: 0;
		transform: rotate(45deg);
		transition: all 0.3s ease 0s;
	}

	.btn__burger.active:after {
		top: 0;
		transform: rotate(-45deg);
		transition: all 0.3s ease 0s;
  }

	.menu_burger {
    display: none;
		width: 100%;
    position: absolute;
    margin-top: 53px;
    background-color: #fbfbfb;
    z-index: 50;
    justify-content: center;
	}

	.menu__list {
		display: flex;
		flex-direction: column;
	}

	.menu__item {
		padding-bottom: 20px;
	}
	
	.btn__burger  {
		position: absolute;
		margin-top: 38px;
		margin-left: 0;
		width: 24px;
		height: 3px;
	  background-image: linear-gradient(13deg, #ff8f5a 0%, #ff2f96 99%, #ff2f96 100%);
	}

	.btn__burger:before	{
		content: '';
		width: 24px;
		height: 3px;
	  background-image: linear-gradient(13deg, #ff8f5a 0%, #ff2f96 99%, #ff2f96 100%);
		position: absolute;
		margin-top: 6px;
	}

	.btn__burger:after {
		content: '';
		width: 24px;
		height: 3px;
	  background-image: linear-gradient(13deg, #ff8f5a 0%, #ff2f96 99%, #ff2f96 100%);
		position: absolute;
		margin-top: -6px;
	}

	.btn__burger.active:before {
		top: -7px;
		transform: rotate(45deg);
		transition: all 0.2s ease 0s;
	}

	.btn__burger.active:after {
		top: 5px;
		transform: rotate(-45deg);
		transition: all 0.2s ease 0s;
	}

	.contacts {
  	width: 100%;
	}

	.contacts__telephone	{
		top: 12px;
    left: 36px;
		font-size: 18px;
		font-weight: 700;
		line-height: 54px;
    padding-left: 24px;
    padding-right: 10px;
  }
  
  .contacts__button:hover	{
    border: 1px solid #ff2f96;
    background: url(../img/call-answer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 9px;
    color: #fbfbfb;
  }

	.call {
		position: relative;
    left: 57px;
    top: 6px;
		font-size: 0;
  	width: 26px;
  	height: 26px;
  	border-radius: 50%;
   	padding: 0;
   	margin: 0;
   	background-image: url(../img/call-answer.png);
   	background-repeat: no-repeat;
   	background-position: center;
   	background-size: 9px;
	}

	.info {
		margin: 0;
	}

	.who	{
		display: flex;
    flex-wrap: wrap;
    justify-content: center;
		order: 2;
		margin-top: 72px;
	}

	.who__name {
		font-size: 30px;
		margin-top: 16px;
    text-align: center;
    padding: 0;
	}

	.who__profession {
		font-size: 16px;
		opacity: 0.93;
		line-height: 24px;
		text-align: center;
		margin-top: 7px;
		margin-bottom: 23px;
		padding: 0;
	}

	.who__button	{
		margin: 0;
	}

	.button {
		font-size: 16px;
		width: 280px;
		height: 55px;
	}

	.image	{
		margin: 0;
	}

	.man {
    position: relative;
    top: 80px;
    left: 57px;
	}

	.man img {
		width: 224px;
	}

	.background {
    top: 120px;
    left: -20px;
	}

	.background	img {
		width: 320px;
	}

	/*  Tags  */
	.tags_parent {
    background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
    background-clip: border-box;
		-webkit-background-clip: text;
		color: transparent;
    font-size: 22px;
    transform: rotate(26.5deg) translateX(28.6vw) translateY(21vw)
	}

	.tags_hashtag {
		display: block;
    background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
    background-clip: border-box;
		-webkit-background-clip: text;
		color: transparent;
    font-size: 28px;
    transform: rotate(16.5deg) translateX(28.9vw) translateY(57.2vw);
	}

	.tags_slash	{
		display: none;
	}

	.tags_slash2 {
		display: block;
    background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
    background-clip: border-box;
		-webkit-background-clip: text;
		color: transparent;
    font-size: 16px;
    transform: rotate(-31deg) translateX(33.6vw) translateY(49.9vw);
	}

	.tags_div1 {
		display: none;
	}

	.tags_div2 {
		display: block;
    background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
    background-clip: border-box;
	  -webkit-background-clip: text;
		color: transparent;
		font-size: 14px;
		transform: rotate(22deg) translateX(88.9vw) translateY(13.1vw);
	}


	.title {
		font-size: 30px;
	}

	.tools__image img {
		width: 61px;
		height: 56px;
	}

	.text {
		font-size: 16px;
		line-height: 24px;
		bottom: 2px;
		margin: 12px 0 16px 0;
	}

	.tools {
		position: relative;
		top: 4px;
		right: 1px;
	}

	.responsive {
		position: relative;
    top: 10px;
    left: -1px;
	}

	.responsive__image img {
		width: 60px;
		height: 56px;
	}

	.responsive__text {
		bottom: -2px;
	}

	.programming {
		position: relative;
    top: 20px;
    left: 0px;
	}

	.programming {
		bottom: 4px;
	}

	.programming__image img {
		width: 60px;
		height: 60px;
	}

	.coding {
		position: relative;
    top: 26px;
    left: -1px;
	}

	.coding {
		bottom: 4px;
	}

	.coding__image img {
    width: 61px;
    height: 61px;
	}

	.services__title {
		padding-top: 45px;
		padding-bottom: 36px;
		top: -2px;
    right: 1px;
	}

	.services__column	{
		flex: 0 0 100%;
		margin-bottom: 25px;
	}

	.services__button {
		margin-top: 33px;
		margin-bottom: 53px;
	}

	.examples__column img {
		width: 282px;
		height: 251px;
	}

	.examples__title 	{
		padding: 41px 0 5px 0;
		line-height: 35px;
	}

	.examples__row {
		margin-top: 35px;
	}

	.swiper {
		margin: 0 auto;
	}

	.examples__text {
    margin: 14px 0 0 0;
		font-size: 18px;
		right: 0px;
		top: 0px;
	}

	.swiper-pagination span {
		width: 10px;
		height: 10px;
		margin-right: 16px;
	}

	.swiper-pagination	{
    display: block;
		margin-top: 38px;
  }
  
  .examples__arrow  {
    display: none;
  }

	.examples__button {
		margin-top: 46px;
		margin-bottom: 51px;
	}

	.banner {
		height: 436px;
	}
	
	.ad {
    top: 18px;
    left: 0px;
	}

	.ad__title	{
		margin: 23px 0 0 0;
		font-size: 28px;
		line-height: 40px;
	}

	.ad__subtitle	{
		margin: 34px 0 0 0;
		padding: 0 0 0 0;
		font-size: 15px;
	}

	.ad__title	br  {
		display: none;
	}

	.ad__subtitle br {
		display: none;
	}

	.banner_parent {
		display: none;
	}
	

	.banner_parent2 {
		display: none;
	}

	.banner_hashtag {
		display: none;
	}

	.banner_slash {
		display: none;
	}

	.banner_div {
		display: none;
  }
  
  .navigation	{
		flex-wrap: wrap;
		padding: 0;
	}

	.footer__column	{
		width: 100%;
	}

	.menu__list_column	{
		margin-top: 0;
		padding-top: 44px;
	}

	.menu__link_color {
		font-size: 15px;
	}

	.menu__item {
		padding-bottom: 15px;
	}
	
	.address__link {
		color: #8993ad;
		font-size: 20px;
		font-weight: bold;
		line-height: 46px;
		padding: 0;
		margin: 16px 0 0 0;
	}

	.fas {
		font-size: 15px;
	}

	.fa-envelope {
		padding-right: 17px;
	}

	.fa-phone-alt {
    padding-right: 17px;
	}

	.connection {
    display: block;
    padding-left: 0;
	}

	.connection__button	{
		width: 280px;
		height: 55px;
		background-color: #ff4e2e;
		color: white;
		font-size: 17px;
		margin: 14px 0 0 0;
	}

	.social	{
		padding-top: 34px;
	}

	.social__item	{
		margin-right: 27px;
	}

	.bottom {
		margin-top: 30px;
		height: 50px;
	}

	.bottom__small	{
		font-size: 12px;
	}
}